@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
	--color-primary: #2f396a;
	--color-primary-light: #525C8A;
	--color-primary-lighter: #8E95B7;
	--color-secondary: #306f88;
	--color-secondary-light: hsl(197, 48%, 56%);
	--color-secondary-lighter: hsl(197, 48%, 80%);
	--color-secondary-lightest: hsl(197, 48%, 92%);
	--color-on-primary: #eeeeee;
	--color-on-secondary: #ffffff;

	--primary-gradient: linear-gradient(135deg, var(--color-secondary), var(--color-primary));
	--secondary-gradient: linear-gradient(135deg, var(--color-secondary-light), var(--color-secondary));

	--layout-grid-gap: 0rem;
	--layout-grid-columns: 1;

	--layout-grid-card-gap: 2rem;
	--layout-grid-card-columns: 1;

	--app-max-width: 960px;
	--section-padding: 2rem 1rem;

	--font-size-huge: 2rem;
	--font-size-large: 1.5rem;
	--font-size-medium: 1.2rem;
	--font-size-normal: 1rem;

}

/*
 * Media query for screens wider then 576px
*/
@media screen and (min-width: 576px) {
	:root {
		--layout-grid-columns: 2;
		--layout-grid-gap: 2rem;
		--font-size-normal: 1rem;
		--section-padding: 4rem 2rem;
	}
}

@media screen and (min-width: 992px) {
	:root {
		--font-size-medium: 1.5rem;
		--font-size-large: 2rem;
		--font-size-huge: 2.5rem;
		--layout-grid-card-columns: 2;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: var(--font-size-normal);
}

/*
 * Typography
 */

h1,
.text--huge {
	font-size: var(--font-size-huge);
	font-weight: normal;
	font-family: "Montserrat";
	text-transform: uppercase;
}

h2,
.text--large {
	font-size: var(--font-size-large);
	font-weight: normal;
	font-family: "Montserrat";
	text-transform: uppercase;
}

h3,
.text--medium {
	font-size: var(--font-size-medium);
	font-weight: normal;
	font-family: "Montserrat";
	text-transform: unset;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.text--secondary-lighter {
	color: var(--color-secondary-lighter);
}

/*
 * App layout
 */

.app {
	display: flex;
	flex-direction: column;
}

.section {
	display: flex;
	justify-content: center;
	padding: var(--section-padding);
}

.section__content {
	width: 100%;
	max-width: var(--app-max-width);
}

.section--dark {
	background: var(--primary-gradient);
	color: var(--color-on-primary);
}

.section--secondary {
	background: var(--secondary-gradient);
	color: var(--color-on-secondary);
}

.section--dark a,
.section--secondary a {
	color: var(--color-secondary-lighter);
}

/*
 * Layout
 */

.layout-box {
	display: flex;
	flex-wrap: wrap;
	gap: var(--layout-grid-gap);
}

.layout-box>* {
	box-sizing: border-box;
	flex: calc((100% - ((var(--layout-grid-columns) - 1) * var(--layout-grid-gap))) / var(--layout-grid-columns));
}

.layout-box--card {
	gap: var(--layout-grid-card-gap);
}

.layout-box--card>* {
	box-sizing: border-box;
	flex: calc((100% - ((var(--layout-grid-card-columns) - 1) * var(--layout-grid-gap))) / var(--layout-grid-card-columns));
}

.layout-box--assym>* {
	flex: calc((100% - ((var(--layout-grid-columns) - 1) * var(--layout-grid-gap))) / var(--layout-grid-columns) * 1.35);
}

.layout-box--assym>*:first-child,
.layout-box--assym>*:nth-child(3) {
	flex: calc((100% - ((var(--layout-grid-columns) - 1) * var(--layout-grid-gap))) / var(--layout-grid-columns) * 0.65);
}

.layout-box__image {
	width: 100%;
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
}

.layout-box__image>img {
	border-radius: 1rem;
	width: 100%;
}

.layout-box__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.layout-box__content--top {
	justify-content: start;
}

.layout-box__content--card {
	border-radius: 1rem;
	padding: 0rem;
}



.layout-box__content h3 {
	color: var(--color-secondary);
}

.layout-box__content hr {
	width: 100%;
}

.hero__image {
	padding: 0 2rem;
}

.hero__image>img {
	max-width: 360px;
	border-radius: 1rem;
}

.hero__content {
	text-align: center;
	align-items: center;
}


/*
 * Utily classes
 */

.my-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-1 {
	margin-top: 1rem;
}

.text-center {
	text-align: center;
}